<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910968158949-re0l5dfubdj85j6fb8c8dg17slrbgvp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910968158949-re0l5dfubdj85j6fb8c8dg17slrbgvp6</string>
	<key>API_KEY</key>
	<string>AIzaSyBL-PSrlIX9LmtwgA564q9lbcNJIa6qrAw</string>
	<key>GCM_SENDER_ID</key>
	<string>910968158949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ds.Tourism</string>
	<key>PROJECT_ID</key>
	<string>tourism-5f37e</string>
	<key>STORAGE_BUCKET</key>
	<string>tourism-5f37e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910968158949:ios:44817419002019014f320c</string>
</dict>
</plist>